/* CSS declarations go here */

@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,500);

/************************************************
        Site-Wide Elements
 ***********************************************/
html{
    min-height: 100%;
    padding: 0;
}

body {
    height: 100%,
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(#CADF4E, #1AAAD6);
    margin: 0;
}

h1{
    font-family: 'Work Sans', 'sans-serif';
    font-weight: 500;
    color: white;
    font-size: 48px;
    padding: 0.25em 1em;
}

h2 {
    font-family: 'Work Sans', 'sans-serif';
    font-weight: 300;
    font-size: 36px;
    color: white;
}

h3 {
    font-family: 'Work Sans', 'sans-serif';
    font-weight: 300;
    font-size: 24px;
}

p {
    display: inline-block;
}

a {
    color: #1AAAD6;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a > span:hover{
    text-decoration: underline;
}

section {
    padding: 5px 20px;
    display: block;
}

header {
    background: rgba(255,255,255,0.2);
    padding: 0;
}

label {
    font-family: 'Work Sans', 'sans-serif';
    font-weight: 300;
    font-size: 24px;
}
input[type=text],input[type=password], input[type=email] {
    font-family: "Work Sans", sans-serif;
    background: none;
    box-shadow: none;
    border-radius: 50px;
    border: thin solid black;
    font-weight: 100;
    font-size: 16px;
    line-height: 26px;
    outline: none;
}
input[type=checkbox] {
      transform: scale(1.5);
      -webkit-transform: scale(1.5);
      margin: 0em 3em;
}
textarea {
    border: thin black solid;
    background: white;
    border-radius: 25px;
    min-height: 35px;
    outline: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    padding: 10px 20px;
    font-size: 18px;
}
.hidden {
    display: none !important;
}

input[type=submit]{
    display: inline-block;
    text-align: center;
    width: 100px;
    margin: 5%;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: none;
    border: none;
    border-radius: 50px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 36px;
    cursor: pointer;
}
/************************************************
        Nav
 ***********************************************/

nav {
    display: flex;
    justify-content: flex-end;
    padding: 0.25em 4em;
}

nav > section { 
    padding: 0em 1em;
}

.button {
    color: white;
    text-align: right;
    display: inline-block;
    font-size: 18px;
    margin: 7px;
    padding: 7px;
    border: thin solid white;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0px;
    text-align: right;
    cursor: pointer;
}

.button:focus, .button:hover {
    outline: none;
    border: 2px solid white;
    padding: 6px;
}

/************************************************
        Login Page
 ***********************************************/
form.login {
    display: block;
    text-align: center;
    min-width: 80%;
}
h1.login {
    margin-top: 5em;
    font-weight: 200;
    text-align: center;
}
h2.login {
    font-weight: 200;
    font-size: 22px;
    display: inline;
}
h2.login-error {
    background: rgba(0, 0, 0, 0.2);
    padding: 7px 7px;
    text-align: center;
    display: block
}
label.login {
    display: flex;
    justify-content: space-around;

}
div.login-label, div.login-field {
    width: 45%;
    padding-top: 2em;
}
div.login-label {
    text-align: right;
    padding-right: 5%;
}
div.login-field {
    padding-right: 20%;
    display: inherit;
}
input[type=email].login, input[type=password].login {
    display: inline;
    min-width: 225px;
    max-height: 500px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: white;
    border: thin solid white;

}
#showLoginLink, #showNewLoginLink {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
    font-size: 20px;
    margin-bottom: 0px;
}
input[type=email]:focus, input[type=password]:focus, input[type=submit]:focus {
    outline: none;
    border: 2px solid white;
}


/************************************************
        Learning Page
 ***********************************************/

#resources-grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

div.resource {
    box-shadow: 2px 2px 1px grey;
    min-width: 25%;
    max-width: 38%;
    padding: 20px;
    margin: 10px;
    background: linear-gradient(white, #F1F1F1);
    display: inline-block;
}

div.resource-details {
    display: flex;
    margin-top: 10px;
}

.resource-checked-count {
    margin: 5px;
    display: inline-block;
    color: #CADF4E;
    border: thin solid #CADF4E;
    border-radius: 100px;
    max-height: 24px;
    line-height: 24px;
    padding: 0.5em;
    align-content: center;
}
/************************************************
        Add Resource Section
 ***********************************************/

.add-resource-template{
    box-shadow: 2px 2px 1px grey;
    padding: 2em;
    margin: 1em;
    background: linear-gradient(white, #F1F1F1);
}
.add-learning {
    margin: 0px 30px;
}
form.add-resource-template{
    margin: 30px;
}
form.add-resource-template > div {
    margin-bottom: 20px;
    width: 100%;
    display: block;
}
form.add-resource-template > div > label {
    margin: 10px;
}
form.add-resource-template > div > input[type=text] {
    width: 50%;
    padding-left: 10px;
    display: block;
    margin: 10px 0px;
    background: white;
    padding: 1px 20px;
}
div.checkboxes {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
div.checkboxes > div {
    display: block;
    width: 100%;
    margin: 10px 0px;
}
form.add-resource-template > div > textarea { 
    width: 50%;
    display: block;
    margin: 10px 0px;
}
form.add-resource-template > input[type=submit] {
    color: black;
    border: thin solid black;
    width: 150px;
    background: rgba(0, 0, 0, 0.025);
    margin: 10px 0px;
}
form.add-resource-template > input[type=submit]:focus,
form.add-resource-template > input[type=submit]:hover, 
form.add-resource-template > div > input[type=text]:focus,
form.add-resource-template > div > textarea:focus {
    border: 2px solid black;
    outline: none;
    box-shadow: none;
    margin: 9px 0px;
}
form.add-resource-template > div > textarea:before:focus {
    outline: none;
    -webkit-appearance:none;
}
