/* CSS declarations go here */

@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,500);

/************************************************
        Site-Wide Elements
 ***********************************************/
html{
    min-height: 100%;
    padding: 0;
}

body {
    height: 100%,
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(#CADF4E, #1AAAD6);
    margin: 0;
}

h1{
    font-family: 'Work Sans', 'sans-serif';
    font-weight: 500;
    color: white;
    font-size: 48px;
    padding: 0.25em 1em;
}

h2 {
    font-family: 'Work Sans', 'sans-serif';
    font-weight: 300;
    font-size: 36px;
    color: white;
}

h3 {
    font-family: 'Work Sans', 'sans-serif';
    font-weight: 300;
    font-size: 24px;
}

p {
    display: inline-block;
    font-family: 'Work Sans', 'sans-serif';
    font-weight: 300;
    font-size: 18px;
}

a {
    color: #1AAAD6;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a > span:hover{
    text-decoration: underline;
}

section {
    padding: 5px 20px;
    display: block;
}

header {
    background: rgba(255,255,255,0.2);
    padding: 0;
}

label {
    display: table;
    font-family: 'Work Sans', 'sans-serif';
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    vertical-align: middle;
}
input[type=text],input[type=password], input[type=email] {
    font-family: "Work Sans", sans-serif;
    background: none;
    box-shadow: none;
    border-radius: 50px;
    border: thin solid black;
    font-weight: 100;
    font-size: 16px;
    line-height: 26px;
    outline: none;
}
input[type="checkbox"]{
    display: table-cell;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: grey;
    border-radius: 1px;
    position: relative;
    box-sizing: content-box ;
    width: 24px;
    height: 24px;
    border-width: 0;
    transition: all .2s linear;
}
input[type="checkbox"]:checked{
    background-color: #CADF4E;
}
input[type="checkbox"]:focus{
    outline: 0 none;
    box-shadow: none;
}
textarea {
    border: thin black solid;
    background: white;
    border-radius: 25px;
    min-height: 35px;
    outline: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    padding: 10px 20px;
    font-size: 18px;
}
.hidden {
    display: none !important;
}

input[type=submit]{
    display: inline-block;
    text-align: center;
    width: 100px;
    margin: 10px;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: none;
    border: none;
    border-radius: 50px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 36px;
    cursor: pointer;
}

/************************************************
        Nav
 ***********************************************/

nav {
    display: flex;
    justify-content: flex-end;
    padding: 0.25em 4em;
}

nav > section { 
    padding: 0em 1em;
}

.button {
    color: white;
    text-align: right;
    display: inline-block;
    font-size: 18px;
    margin: 7px;
    padding: 7px;
    border: thin solid white;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0px;
    text-align: right;
    cursor: pointer;
}

.button:focus, .button:hover {
    outline: none;
    border: 2px solid white;
    padding: 6px;
}


