<template name="learning">
    <header>
        <h1>Learning</h1>
    </header>

    <nav>
     <section id="add_resource">
        <p class="button">
            <span class="fa fa-plus-circle">  Add</span>
        </p>
    </section>    
    {{> logout}}
    </nav>

    <aside> 
    <!--{{#if showAddLearningTemplate}}
        {{> add_resource_template}}
    {{/if}}-->
        <h2 class="add-learning">Add Learning Resource</h2>
        
        <form class="add-resource-template hidden" id="add_resource_template">
            <div>
                <label>Title</label>
                <input type="text" name="addResourceTitle">
            </div>

            <div class="checkboxes">
                <label>Type</label>
                <div>
                    <input type="checkbox" name="type" value="text"><span class="fa fa-file-text-o">  Text</span>
                </div>
                <div>
                    <input type="checkbox" name="type" value="video"><span class="fa fa-play-circle-o">  Video</span>
                </div>
            </div>

            <div>
                <label>Description</label>
                <textarea name="description"></textarea>
            </div>

            <input type="submit" value="Post Resource">

        </form>

    </aside>

    <section id="resources-grid">
        <div class="resource">
            <label class="resource">
                <input type="checkbox">
                <a href="https://www.google.com"><span class="fa fa-file-text-o"> Google</span></a>
            </label>
            <div class="resource-details">
                <h3 class="resource-checked-count">12</h3>
                <p>A really important search engine</p>
            </div> <!-- close resource-checked-count -->
        </div> <!-- close resource-->

        <div class="resource">
            <label class="resource">
                <input type="checkbox">
                <a href="https://www.youtube.com"><span class="fa fa-play-circle-o"> YouTube</span></a>
            </label>
            <div class="resource-details">
                <h3 class="resource-checked-count">12</h3>
                <p>A really important video database</p>
            </div> <!-- close resource-checked-count -->
        </div> <!-- close resource-->

        <div class="resource">
            <label class="resource">
                <input type="checkbox">
                <a href="https://www.google.com"><span class="fa fa-file-text-o"> Google</span></a>
            </label>
            <div class="resource-details">
                <h3 class="resource-checked-count">12</h3>
                <p>A really important search engine</p>
            </div> <!-- close resource-checked-count -->
        </div> <!-- close resource-->
    </section>

</template>