<template name="register">
    <form class="login">
        <label class="login">
            <div class="login-label">
                <h2 class="login">Username</h2>
            </div>
            <div class="login-field">
                <input class="login" type="text" name="registerUser">
            </div>
        </label>
        <label class="login">
            <div class="login-label">
                <h2 class="login">Password</h2>
            </div>
            <div class="login-field">
                <input class="login" type="password" name="registerPassword">
            </div>
        </label>
        <input type="submit" value="Submit">
    </form>
</template>

<template name="login">
    <form class="login">
        <label class="login">
            <div class="login-label">
                <h2 class="login">Username</h2>
            </div>
            <div class="login-field">
                <input class="login" type="text" name="loginUser">
            </div>
        </label>
        <label class="login">
            <div class="login-label">
                <h2 class="login login-label">Password</h2>
            </div>
            <div class="login-field">
                <input  class="login" type="password" name="loginPassword">
            </div>
        </label>
        <input type="submit" value="Login">
    </form>
</template>