/************************************************
        Resources
 ***********************************************/

#resources-grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0px 40px;
}

div.resource {
    box-shadow: 2px 2px 1px grey;
    min-width: 25%;
    max-width: 38%;
    padding: 20px;
    margin: 10px;
    background: linear-gradient(white, #F1F1F1);
    display: inline-block;
}
div.resource-title {
    display: table;
    font-family: 'Work Sans', 'sans-serif';
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    vertical-align: middle;
    margin: 5px;
}
div.resource-title > a > span.fa:hover{
    text-decoration: none
}
div.resource > div.resource-title > a {
    margin: 15px;
}
div.resource-title > input[type=checkbox] {
    margin: 10px 0px 10px 0px;
}
div.resource-details > p {
    margin-left: 10px;
    overflow: scroll;
}
div.resource-details {
    display: flex;
    margin-top: 10px;
}
.resource-checked-count {
    display: table-cell;
    color: #CADF4E;
    border: thin solid #CADF4E;
    border-radius: 100px;
    height: 24px;
    width: 24px;
    line-height: 24px;
    padding: 6px;
    align-content: center;
    margin: 10px 0px 10px 0px;
    text-align: center;
}